<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Celikoor_Insomiac.db" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Celikoor_Insomiac.db>
            <setting name="server" serializeAs="String">
                <value>kresnayangasli.my.id</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>55555</value>
            </setting>
            <setting name="dbname" serializeAs="String">
                <value>insomiac</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>celikoor</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Ins0mi4C</value>
            </setting>
        </Celikoor_Insomiac.db>
    </userSettings>
</configuration>